/out/
/resources/public/js/compiled/
/resources/public/css/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

.clj-kondo/
.lsp/

cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/
cypress/screenshots/
